@model Product

<h1>Item: @Model.Name</h1>
<p>Price: $@Model.Price</p>
<p>Category: @Model.Category</p>
<p>Description: @Model.Description</p>

<a asp-controller="Product" asp-action="Index">Back to Product List</a>