@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Reviver</h1>
    <p>Learn about what we have to offer by clicking the <b>products</b> tab above.</p>
</div>


